<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../css/dashboard.css">
    <script type="module" src="../src/js/guardian.js"></script>

</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar">
    <h1 class="logo">Mi Dashboard</h1>
    <button class="logout-btn" id="logout-btn">Cerrar sesión</button>
    </nav>

<!-- MAIN CONTENT -->
    <main class="dashboard">
        <div class="card">
            <a  href="movimientos.html">Movimientos</a>
            <a href="categorias.html">Categorías</a>
            <a >Reportes</a>
            </div>
    </main>
    <script type="module" src="../js/dashboard.js"></script>
</body>
</html>