<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Iniciar Sesión</title>
  <link rel="stylesheet" href="../css/login.css">
</head>
<body>
  <div class="login-container">
    <img src="../img/user-icon.ico" alt="logo login">
    <h2>Iniciar Sesión</h2>
    <form id="form-login">
      <input type="text" placeholder="Usuario" id=username name="username" >
      <input type="password" placeholder="Contraseña" id=password name="password" >
      <button type="submit">Iniciar</button>
    </form>
    <p id="resultado"></p>
  </div>
  <script type="module" src="../js/login.js"></script>
</body>
</html>

