<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Gestión Financiera - Movimientos</title>
    <link rel="stylesheet" href="../css/movimientos.css" />
    <script type="module" src="../src/js/guardian.js"></script>
</head>
<body>
    <header>
        <nav class="navbar">
            <img src="../img/finanzas.ico" alt="logo">
            <h1>Gestión Financiera</h1>
            <div class="nav-items">
                <button class="logout-btn" id="logout-btn">Cerrar sesión</button>
                <a href="dashboard.html" class="btn">Volver</a>
            </div>
        </nav>
    </header>
    <!-- CONTENEDOR PRINCIPAL -->
    <main class="container">
        <!-- REGISTRAR MOVIMIENTOS -->
        <section class="form-section">
        <h2>Registrar Movimiento</h2>
        <form id="form-movimiento">
            <label for="tipo">Tipo:</label>
            <select id="tipo" required>
            <option value="">Seleccionar</option>
            <option value="compra">Compra</option>
            <option value="venta">Venta</option>
            </select>

            <label for="descripcion">Descripción:</label>
            <input type="text" id="descripcion" placeholder="Descripción" required />

            <label for="importe">Importe:</label>
            <input type="number" id="importe" placeholder="$$$$$$" required />

            <label for="fecha">Fecha:</label>
            <input type="date" id="fecha" placeholder="dd/mm/aaaa" pattern="\d{2}/\d{2}/\d{4}" required />

            <label for="categoria">Categoría:</label>
            <select id="categoria" required>
            <option value="">Seleccionar</option>
            </select>
            <button type="submit">Guardar</button>
        </form>
        </section>

        <!-- LISTA DE MOVIMIENTOS -->
        <section class="lista-section">
        <h2>Lista de Movimientos</h2>
        <div class="tabla-header">
            <span>Tipo</span>
            <span>Descripción</span>
            <span>Categoría</span>
            <span>Fecha</span>
            <span>Importe</span>
        </div>
        <!-- Aquí se insertarán los movimientos dinámicamente -->
        <div id="lista-movimientos"></div>
        </section>

    </main>
    <script type="module" src="../js/movimientos.js"></script>
</body>
</html>
